"""
unit
~~~~

Houses all test cases and utilities supporting unit testing of the
:py:mod:`{{package_name}}` project. This package is not intended to
be part of the distribution.
"""

__author__ = '{{author}}'
__copyright__ = 'Unpublished Copyright (c) {{date.year}} {{author}}. All Rights Reserved.'
__license__ = 'Apache Software License 2.0'
