"""
tests
~~~~~

Houses all test cases, supporting the :py:mod:`{{package_name}}` package.
This package is not intended to be part of the distribution.
"""

__author__ = '{{author}}'
__copyright__ = 'Unpublished Copyright (c) {{date.year}} {{author}}. All Rights Reserved.'
__license__ = 'Apache Software License 2.0'
