{{'=' * package_name|length}}
{{package_name}}
{{'=' * package_name|length}}

This is the readme file for your new project.  It should include information
like project name, goals, comparisons with other similar projects, etc.  Fill
this file with `reStructured text`_ communicating whatever you'd like to about
your new project.

Below is a template, using `reStructured text`_, with content you might
consider including to get you started:

.. _`reStructured text`: https://en.wikipedia.org/wiki/ReStructuredText

Features:

- Feature description 1
- Feature description 2
- Feature description 3

Contributions and feedback are welcome using Github at:
http://github.com/<github-org>/{{package_name}}

Note that {{package_name}} requires installation of the following packages:

- package-a >= 1.2.3
- package-b

Installation
============

#. `pip install {{package_name}}`
#. Some additional step for installing the project.
#. Another additional step for installing the project.
#. etc.

Configuration
=============

Any necessary settings, cache requirements, etc.

Documentation
=============

Include a link to documentation goes here.

Usage
=====

Basic usage instructions for your project go here.

Bugs & Contributions
====================

Please submit bugs, feature requests, and code changes using GitHub at:
http://github.com/<github-org>/{{package_name}}

:author: {{author}}
:email: {{author_email}}
:date: {{date.strftime('%Y-%m-%d')}}
