"""
cli
~~~~

Main entry point commend line script for the {{package_name}} project.

Command line syntax:

    {{package_name}} <message>
"""

__author__ = '{{author}}'
__copyright__ = 'Unpublished Copyright (c) {{date.year}} {{author}}. All Rights Reserved.'
__license__ = 'Apache Software License 2.0'

from logging import getLogger
from logging.config import fileConfig

import click


@click.command()
@click.argument('message')
def log_test(message):
    getLogger(__file__).debug(f'Logged with DEBUG: {message}')
    getLogger(__file__).info(f'Logged with INFO: {message}')
    getLogger(__file__).warning(f'Logged with WARNING: {message}')
    getLogger(__file__).error(f'Logged with ERROR: {message}')
    getLogger(__file__).critical(f'Logged with CRITICAL: {message}')


@click.group()
def cli():
    # Set up logging identically for all commands
    fileConfig('log.cfg', disable_existing_loggers=False)


cli.add_command(log_test)

if __name__ == "__main__":
    cli()
