"""
    __init__.py
    ~~~~~~~~~~~~~~~~~~~~~~~

    Houses all test cases and utilities supporting unit testing of the
    :py:mod:`{{package_name}}` project. This package is not intended to
    be part of the distribution.

    ~~~~~~~~~~~~~~~~~~~~~~~

    Unpublished Copyright (c) {{date.year}} {{author}}. All Rights Reserved.
"""

__author__ = '{{author}}'
