"""
    __init__.py
    ~~~~~~~~~~~~~~~~~~~~~~~

    Houses unit test cases, supporting the :py:mod:`{{package_name}}`
    package. This package is not intended to be part of the distribution.

    ~~~~~~~~~~~~~~~~~~~~~~~

    Unpublished Copyright (c) {{date.year}} {{author}}. All Rights Reserved.

"""

__author__ = '{{author}}'
