"""
    __init__.py
    ~~~~~~~~~~~~~~~~~~~~~~~

    Houses end-to-end test cases, supporting the :py:mod:`{{package_name}}`
    package. This package is not intended to be part of the distribution.

    ~~~~~~~~~~~~~~~~~~~~~~~

    Unpublished Copyright 2020 {{author}}. All Rights Reserved.

"""

__author__ = '{{author}}'
