[aliases]
test = pytest

[metadata]
name = pyincept
version = 0.0.1
url = https://github.com/avanherick/pyincept/
author = {{author}}
author_email = {{author_email}}
description = Insert your project description here.
long_description = file: README.rst
license = Apache Software License
license_file = LICENSE
classifiers =
    License :: OSI Approved :: Apache Software License
    Operating System :: OS Independent
    Programming Language :: Python :: 3 :: Only
    # Prevents upload to PyPI, because it is not one of the known classifiers.
    # This can and should be removed if you will be distributing you package
    # to PyPI.
    Private :: Do Not Upload

[options]
python_requires = >=3.5
packages = find:
scripts =
include_package_data = true
install_requires=
    click
tests_require=
    pyhamcrest
    pytest
setup_requires=
    pytest-runner
    wheel

[options.entry_points]
console_scripts =
    pyincept = pyincept.pyincept:main

[options.package_data]
* = *.txt, '*.rst, *.cfg
pyincept = _resources/templates/*.jinja

[options.packages.find]
exclude = tests*

[tool:pytest]
addopts = -v
testpaths = tests
